.divHome{ 
 
    
    margin: 0;
    background-image: url("src\app\img\hq.png");
    position: relative;
    height: 100vh;
    width: 98.4vw;
    background-size: cover;
    background-repeat: repeat-x;
}
.botaLogin{ 
    margin-bottom: 11px;
}