.imgCard{ 
    max-width: 100%;
    max-height: 50%;

}
.cardContent{ 
    width: 18rem;
 
}
.card-body{
    min-width: none;
    min-height: 10px;

}
body{ 
    
    margin: 0;
    background-image: url("src\app\img\hq.png");
   

}